.pagination{
    display: flex;
    gap: 10px;
    list-style-type: none;
}
.pagination li{
    border-radius: 30px;
}
.pagination >li a {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: 1px darkred solid;
    border-radius: 30px;
    font-size: 10px;
    font-weight: bolder;
    cursor: pointer;

}


.pagination > li a:hover{
    background-color: #e01111;
    color: black;
}

/*.pagination > li.active{*/
/*    background-color: #e01111;*/
/*    color: black;*/
/*}*/

.pagination > li.selected{
    background-color: #e01111;
    color: black;
}


